       body {
            color: white;
            margin: 0;
            background-color: rgb(24,24,24);
            font-size: 1.25rem;
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        a {
            text-decoration: none;
            color: inherit;  
        }
       header {
            background: #0e6b0e;
            margin: 0;
            color: cyan;
            font-size: 2.5rem;
            grid-template-columns: 0.2fr 1fr;
            grid-template-rows: 1fr;
            grid-auto-columns: 1fr;
       }
       footer{
            background-color: black;
            text-align: center;
        }
        main {
            flex: 1;
            margin-left: 0.625rem;
        }
        .logo img {
            height: 3.125rem;
            width: 62.5rem;
        }
        .nav a{
            margin: 1.875rem;
        }
        .social_media {
            font-size: 1.875rem;
            padding: 0.2rem;
        }
        .box {
            border: solid black 0.25rem;
            border-radius: 1rem;
            padding: 0.35rem;
            margin-bottom: 1rem;
            grid-template-columns: 0.55fr 1fr;
            grid-template-rows: 1fr;
            grid-auto-columns: 1fr;
        }
        .container {  
            display: grid;
            grid-auto-flow: row;
            grid-template-areas:
              "First-cell another-cell";

          }
          .container_left { grid-area: First-cell; }
          
          .container_right { grid-area: another-cell; }
          
          .container img {
            width: 31.25rem;
          }