       body {
            color: white;
            margin: 0;
            background-color: rgb(24,24,24);
            font-size: 20px;
        }
        a {
            text-decoration: none;
            color: inherit;  
        }
       header {
            background: #029502;
            margin: 0;
            color: cyan;
       }
       footer{
            background-color: black;
            text-align: center;
        }
        .site {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        .site-content {
            flex: 1;
        }
        .logo {
            font-size: 50px;
        }
        .outercontainer {
            border: solid black 4px;
            border-radius: 1rem;
            padding: 5px;
            margin: 1rem;
            display: flex;
        }
        .outercontainer img {
            width: 500px;
        }
        .social_media {
            font-size: 30px;
            padding: 3px;